---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: simpleingressroute
  namespace: default
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`microk8s-git-01.commandemy.training`) && PathPrefix(`/`)
      kind: Rule
      services:
        - name: api
          port: 3000
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: ingressroutetls
  namespace: default
spec:
  entryPoints:
    - websecure
  tls:
    certResolver: myresolver
  routes:
    - match: Host(`microk8s-git-01.commandemy.training`) && PathPrefix(`/`)
      kind: Rule
      services:
        - name: api
          port: 3000